# Maven
/target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Application config (REAL secrets)
src/main/resources/application.properties
src/main/resources/application.yml